body{
    background-color: antiquewhite;
    text-align:center;
}
.back{
    
   text-align:center;
   background-image: linear-gradient(to right, rgb(17, 17, 17), rgb(87, 85, 85), rgb(14, 13, 13));
   margin-left: 20%;
   margin-right: 20%;
   padding-bottom: 50%;    
    
}

.title{
    color: aliceblue;
    background-image: linear-gradient(green, rgb(65, 65, 65), green);
    padding-top: 10px;
    padding-bottom: 10px;
}

.pow{
    width: 300px;
    height: 350px;
    margin-top: 150px;
    
}